.square{

	background-color:red;

	height:55px;

	width:55px;

}

.square2{

	background-color:red;

	height:55px;

	width:155px;

}

.square3{

	background-color:red;

	height:55px;

	width:155px;

}